# Core dependencies
networkx>=2.6
opencv-python>=4.5
numpy>=1.20
pandas>=1.2
matplotlib>=3.3

# PyTorch (adjust versions if using GPU/CUDA)
torch>=1.10.0
torchvision>=0.11.0

# PyTorch Geometric + dependencies (CPU versions)
#torch-scatter
#torch-sparse
#torch-cluster
#torch-spline-conv
#t -torch-geometric
